body {
    margin: 50px;
    padding: 100px;
    background: #414141;
}

.content, div{
    display:inline-block;
}

.menu{
    display: table;
    margin-left: auto;
    margin-right: auto;
    position: center;
    border: 3px solid #4F4F4F;
    border-radius: 3px;
    color: lightblue;
    text-align-last: center;
    align-items: center;
    justify-content: center;
}

.menu-delete{
    display: table;
    margin-left: auto;
    margin-right: auto;
    position: center;
    color: lightblue;
    text-align-last: center;
    align-items: center;
    justify-content: center;
}

.button-add {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 70%;
    opacity: 0.9;
    border-radius: 3px;
}

.button-pour {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 50%;
    opacity: 0.9;
    border-radius: 3px;
}

.button-delete{
    background-color: #f44336;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.cup {
    position: relative;
    top:50%;
    left: 50%;
    margin: 50px;
    transform: translate(-50%,-50%);
    width: 150px;
    height: 180px;
    border: 6px solid #fff;
    border-top: 2px solid transparent;
    border-radius: 15px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: url("/images/water.png");
    background-repeat: repeat-x;
    background-position: 0px 0px;
    box-shadow: 0 0 0 1px #fff, 0 20px 35px rgba(0,0,0,1);
}

.cup:before{
    content: '';
    position: absolute;
    width: 50px;
    height: 80px;
    border: 6px solid #ffffff;
    right: -62px;
    top:30px;
    border-top-right-radius: 35px;
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 10px;
}
.form-textfield{ width: 35%; height: 10%; background-color: #ededed; opacity: 0.9; transition: 0.5s;}
.form-textfield:focus{transition: 0.5s; opacity: 1;}