body {
    margin: 50px;
    padding: 100px;
    background: #414141;
}

.content, div{
    display:inline-block;
}

.menu{
    display: table;
    margin-left: auto;
    margin-right: auto;
    position: center;
    border: 3px solid #4F4F4F;
    border-radius: 3px;
    color: lightblue;
    text-align-last: center;
    align-items: center;
    justify-content: center;
}

.cup {
    position: relative;
    top:50%;
    left: 50%;
    margin: 50px;
    transform: translate(-50%,-50%);
    width: 150px;
    height: 180px;
    border: 6px solid #fff;
    border-top: 2px solid transparent;
    border-radius: 15px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: url("http://localhost:8080/images/water.png");
    background-repeat: repeat-x;
    background-position: 0px 0px;
    box-shadow: 0 0 0 1px #fff, 0 20px 35px rgba(0,0,0,1);
}

.cup:before{
    content: '';
    position: absolute;
    width: 50px;
    height: 80px;
    border: 6px solid #ffffff;
    right: -62px;
    top:30px;
    border-top-right-radius: 35px;
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 10px;
}

@keyframes animate {
    0%{
        background-position: 0 100px;
    }
    10%{
        background-position: 0 100px;
    }
    40%{
        background-position: 1000px -70px;
    }
    80%{
        background-position:  2000px -80px;
    }
    100%{
        background-position: 2500px -100px;
    }
}